# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Variables de entorno
.env

# Configuracion de editores/IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class